@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet');

body {
    background-image: url(/practice/img/back.png);
    background-repeat: space;
    height: 100%;
}

.greetings,
p,
h1, 
h2 {
    font-family: Consolas;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #E6E6E6;
    padding: 5px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 3em;
    background: linear-gradient(to top, rgb(58 66 102), rgb(49 69 161), rgb(24 94 175), rgb(39 121 189), rgb(78 137 207), rgb(53 72 161), rgb(74 137 211 / 80%),rgba(30,87,153,0));
}

ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

li a {
    text-decoration: overline;
    font-family: Consolas;
    font-size: 1em;
    color: #CED8F6;
    font-weight: 400;
}
a:hover {
    color: #a0a8c1;
}

.logo img {
    width: 140px;
    height: 70px;
    margin-left: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-right: 20px;
    flex-basis: 750px;
}

.myImg {
    margin-top: 20px;
    padding-left: 20px;
    flex-basis: 250px;
}

.knowledge {
    font-family: Consolas;
    color: #08298A;
    margin-top: 20px;
    padding-left: 20px;
    flex-basis: 250px;
}

.article {
    margin-top: 2em;   
}


p {
    font-size: 1.2rem;
    color: #08298A;
    padding-left: 20px;
}

.text {
    font-size: 1rem;
    color: #585858;
}

h2 {
    text-align: center;
    color: #ced8f6;
}

h1 {
    color: #4f5b93;
    text-align: center;
    font-size: 2rem;
}

.footer {
    background: linear-gradient(to bottom, rgb(58 66 102), rgb(49 69 161), rgb(24 94 175), rgb(39 121 189), rgb(78 137 207), rgb(74 137 211 / 80%),rgba(30,87,153,0));
    flex: 0 0 auto;
}